<form 
  [formGroup]="contactForm" 
  class="form" 
  (ngSubmit)="sendMessage()"
  (focusin)="focusFunction()" 
  (focusout)="focusOutFunction()"
  novalidate>
  <div class="input__row">
    <input 
      formControlName="title"
      [class.input__filled]="contactForm.value.title"
      class="input__field"
      type="text" 
      aria-required="true"
      placeholder="Title"
      id="field__title">
    <label class="input__label" for="field__title">Title<span class="required--color">*</span></label>
    <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
      <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
    </svg>
  </div>
  <div class="input__row">
    <input 
      formControlName="email"
      [class.input__filled]="contactForm.value.email"      
      class="input__field"
      type="email" 
      aria-required="true"
      placeholder="email"
      id="field__email"
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    <label class="input__label" for="field__email">Email<span class="required--color">*</span></label>
    <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
      <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
    </svg>
  </div>
  <div class="input__row">
    <textarea 
      formControlName="message"
      [class.input__filled]="contactForm.value.message"      
      rows="5" 
      class="input__field"
      aria-required="true"
      placeholder="message"
      id="field__message"></textarea>
    <label class="input__label" for="field__message">Message<span class="required--color">*</span></label>
    <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
      <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
    </svg>
  </div>
  <div class="input__row honey__row">
    <label for="honey">If you are a human, do not fill this field</label>
    <input 
      formControlName="honey"
      type="text" 
      name="honey">
  </div>
  <div class="submit-container">
    <button 
      appRipple
      #infoToggler
      class="btn form--close"
      type="button"
      aria-label="Close contact form"
      aria-expanded="true"
      (click)="closeForm()">Close contact form
      <span class="close__icon" aria-hidden="true"></span>
      <span class="visuallyhidden">Close contact form</span>  
    </button>
    <button 
      [disabled]="contactForm.invalid"
      appRipple
      type="submit" 
      aria-label="Submin to the form"
      class="btn form__submit" >
        Get in touch
    </button>
  </div>
</form>
<button 
  *ngIf="showSuccess || showError"
  class="btn message-close"
  appRipple
  type="button"
  aria-label="Close response message"
  aria-expanded="true"
  (click)="closeMessage()">Close
</button>
<app-loader *ngIf="showLoader" [@fadeAnimation]></app-loader>
<app-success-message *ngIf="showSuccess" [@fadeAnimation]></app-success-message>
<app-error-message *ngIf="showError" [@fadeAnimation]></app-error-message>