$primary-color: #2E3568;
$secondary-color: #77B3FD;

* {
  box-sizing: border-box;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.form {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 150%;
  color: #ffffff;
  z-index: 10;
  background-color: $primary-color;
  .honey__row {
    display: none;
  }
}

.input__row {
  position: relative;
  overflow: hidden;
  z-index: 1;
  max-width: 350px;
  width: calc(100% - 40px);
  padding-top: 20px;
  margin: 20px auto 0;
}

.input__field {
  display: block; 
  border: none;
  width: 100%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  &::placeholder {
    color: transparent;
  }
}

.input__field:focus {
  outline: none;
}

.input__label {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  pointer-events: none;
  color: #FFF;
  font-weight: bold;
  user-select: none;
  transform-origin: 0 0;
  transition: transform 0.2s 0.15s, color 1s;
  transition-timing-function: ease-out;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  fill: none;
  stroke: #FFF;
  pointer-events: none;
  transform-origin: 50% 50% 0px;
  transition: transform 0.7s, stroke 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field.ng-invalid.ng-touched + .input__label .required--color {
  color: rgb(245, 49, 49);
}

textarea~.graphic {
  top: 4px;
}

.input__field:focus+.input__label,
.input__filled+.input__label, 
.input__filled.required--color {
  color: $secondary-color;
  transform: translate3d(0, -20px, 0) scale3d(0.75, 0.75, 1);
}

.input__field:focus~.graphic,
.input__filled~.graphic {
  stroke: $secondary-color;
  transform: translate3d(-66.6%, 0, 0);
}

.submit-container {
  display: flex;
  justify-content: space-around;
}

@keyframes slide-left {
  to {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 600px) and (min-height: 851px) {
  :host {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  .form {
    width: 100%;
    background-color: transparent;
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(100%, 0, 0); 
      background-color: $primary-color;
      animation: slide-left 2s 0.45s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    }
  }
  .input__row {
    margin-bottom: 20px;
  }
  .input__field {
    font-size: 35px;
  }
  .input__label {
    top: 35px;
  }
  .input__field:focus+.input__label,
  .input__filled+.input__label  {
    transform: translate3d(0, -35px, 0) scale3d(0.75, 0.75, 1);
  }
  .form--close {
    display: none;
  }
  .submit-container {
    width: 100%;
    justify-content: flex-end;
  }
  .graphic {
    top: 2px;
  }
}

@media screen and (max-height: 400px) {
  .form {
    overflow-y: scroll;
  }
}

.btn-show {
  position: absolute;
  bottom: -100px;
}