<div class="projects-container">
  <nav class="pagination">
    <div class="selectors">
        <span class="selector"></span>
        <span class="selector"></span>
        <span class="selector"></span>
        <span class="selector"></span>
        <span class="selector"></span>
        <span class="selector"></span>
        <span class="selector"></span>
    </div>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li (click)="toggleProject()">4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
    </ul>
  </nav>
  
  <section class="project" *ngIf="project">
    <button 
      #infoToggler
      class="info-toggler"
      type="button"
      aria-label="Open/close project information"
      aria-expanded="false"
      (click)="toggleInfo()">
      <span class="info-toggler__icon" aria-hidden="true"></span>
      <span class="info-toggler__icon" aria-hidden="true"></span>
      <span class="info-toggler__label">Open/close information</span>  
    </button>
    <div class="project__info" #projectInfo>
      <h2 class="project__title">{{project.title}}</h2>
      <div class="project__technologies">
        <ul>
          <li *ngFor="let tech of project.tech">{{tech}}</li>
        </ul>
      </div>
      <p class="project_description">{{project.desc}}</p>
      <div class="project__share">
        <ul>
          <li>{{project.live}}</li>
          <li>{{project.git}}</li>
        </ul>
      </div>
    </div>

    <div class="project__view">
      <div class="showcase-container">
        <div class="project__desktop-view project__desktop-view--16-9" *ngIf="project.desktopView">
          <div class="desktop-view__address-bar">
            <div class="address-bar__icons">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="project__address">
              <a href="{{project.shortUrl}}">{{project.liveUrl}}</a>
            </div>
          </div>
          <div class="desktop__screen">
            <div class="project__desktop-showcase">
                <picture>
                  <!-- <source srcset="{{project.desktopViewWEBP}}" type="image/webp"> -->
                  <source srcset="{{project.desktopViewJPG}}" type="image/jpeg"> 
                  <img src="{{project.desktopViewJPG}}" alt="">
                </picture>
            </div>
          </div>
        </div> 

        <div class="project__mobile-view" *ngIf="project.mobileView">
          <div class="phone__top">
      
          </div>
          <div class="phone__screen">
            <div class="project__mobile-showcase">
              <img src="" alt="">
            </div>
          </div>
          <div class="phone__bottom"></div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div class="mask"></div> -->
