.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

:host {
    height: 100vh;
    width: 100%;
    @extend .center;
    background: #f093fb linear-gradient(120deg, #f5576c 0%, blue 100%);
}

.projects-container {
    position: relative;
    max-width: 1440px;
    width: 90%;
    height: 90%;
    background: #f093fb;
}

.pagination {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: gray;
}

.project {
    @extend .center;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: white;
}

.project__info {
    @extend .center;
    flex-direction: column;
    order: 2;
    width: 30%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5);
    z-index: 100;
    .project__technologies {
        li{
            display: inline;
        }
    }
    .project_description {
        margin: 0 15%;
    }
    .project__share {
        li{
            display: inline;
        }
    }
}

.project__view {
    order: 1;
    @extend .center;
    width: 70%;
    height: 100%;
    background: lightgray;

    .project__desktop-view {
        position: relative;
        width: 700px;
        height: 620px;
        background: blue;
    }
    .project__mobile-view {
        position: absolute;
        bottom: -20px;
        left: -20px;
        width: 262px;
        height: 523px;
        background: lightcoral;
    }
}