<!-- <app-svg-sprite></app-svg-sprite> -->

<div class="projects-container" [@slideDownAnimation]="project">
  <section class="project" *ngIf="project">
    <button 
      #infoToggler
      class="info-toggler"
      type="button"
      aria-label="Open/close project information"
      aria-expanded="false"
      (click)="toggleInfo()">
      <span class="info-toggler__icon" aria-hidden="true"></span>
      <span class="info-toggler__icon" aria-hidden="true"></span>
      <span class="info__label">Open/close information</span>  
    </button>
    
    <div class="project__info" #projectInfo>
      <h2 class="project__title">{{project.title}}</h2>

      <!-- <div class="project__technologies">
        <ul>
          <li *ngFor="let tech of project.tech"
            class="tech-icon__container"
            aria-hidden="true">
            <svg class="tech-icon">
              <use [attr.xlink:href]="'#' + tech.toLowerCase()"></use>
            </svg>
            <span class="info__label">Used {{tech}} technology</span>  
          </li>
        </ul>
      </div> -->

      <div class="project__technologies">
        <ul>
          <li *ngFor="let tech of project.tech"
            class="project__icon"
            [attr.project-tech]="tech.toLowerCase()"
            aria-hidden="true">
            <span class="info__label">Used {{tech}} technology</span>  
          </li>
        </ul>
      </div>

      <p class="project_description" [innerHTML]="project.desc"></p>

      <!-- <div class="project__share">
        <ul>
          <li class="tech-icon__container">
            <svg class="tech-icon icon-github">
              <use xlink:href="#github"></use>
            </svg>
            <a aria-label="Go to project repository"
              *ngIf="project.git"
              class="project__icon"
              href="{{project.git}}"></a>
          </li>
          <li>
            <a aria-label="Go to live preview"
              *ngIf="project.shortUrl"
              class="project__icon"
              href="{{project.shortUrl}}"
              project-live="live"></a>
          </li>
        </ul>
      </div> -->

      <div class="project__share">
        <ul>
          <li>
            <a aria-label="Go to project repository"
              *ngIf="project.git"
              class="project__icon"
              href="{{project.git}}"
              project-github="github"></a>
          </li>
          <li>
            <a aria-label="Go to live preview"
              *ngIf="project.shortUrl"
              class="project__icon"
              href="{{project.shortUrl}}"
              project-live="live"></a>
          </li>
        </ul>
      </div>

    </div>

    <div class="project__view">
      <div class="showcase-container">
        <div class="project__desktop-view project__desktop-view--16-9" *ngIf="project.desktopView">
          <div class="desktop-view__address-bar">
            <div class="address-bar__icons">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="project__address">
              <a aria-label="Go to live preview" href="{{project.shortUrl}}" tabindex="-1">{{project.liveUrl}}</a>
            </div>
          </div>
          <div class="desktop__screen">
            <div class="project__desktop-showcase">
                <picture>
                  <source 
                    srcset="static/img/large/{{project.desktopViewWEBP}}" 
                    media="(min-width: 1201px)"
                    type="image/webp">
                  <source 
                    srcset="static/img/mid/{{project.desktopViewWEBP}}" 
                    media="(min-width: 401px)"
                    type="image/webp">
                  <source 
                    srcset="static/img/small/{{project.desktopViewWEBP}}" 
                    media="(max-width: 400px)"
                    type="image/webp">
                  
                  <source 
                    srcset="static/img/large/{{project.desktopViewJPG}}" 
                    media="(min-width: 1201px)"
                    type="image/jpeg"> 
                  <source 
                    srcset="static/img/mid/{{project.desktopViewJPG}}" 
                    media="(min-width: 401px)"
                    type="image/jpeg"> 
                  <source 
                    srcset="static/img/small/{{project.desktopViewJPG}}" 
                    media="(max-width: 400px)"
                    type="image/jpeg"> 

                  <img src="static/img/large/{{project.desktopViewJPG}}" alt="">
                </picture>
            </div>
          </div>
        </div> 

        <div class="project__mobile-view" *ngIf="project.mobileView">
          <div class="phone__top"></div>
          <div class="phone__screen">
            <div class="project__mobile-showcase">
              <picture>
                <source 
                  srcset="static/img/large/{{project.mobileViewWEBP}}" 
                  media="(min-width: 1201px)"
                  type="image/webp">
                <source 
                  srcset="static/img/mid/{{project.mobileViewWEBP}}" 
                  media="(min-width: 401px)"
                  type="image/webp">
                <source 
                  srcset="static/img/small/{{project.mobileViewWEBP}}" 
                  media="(max-width: 400px)"
                  type="image/webp">
                
                <source 
                  srcset="static/img/large/{{project.mobileViewJPG}}" 
                  media="(min-width: 1201px)"
                  type="image/jpeg"> 
                <source 
                  srcset="static/img/mid/{{project.mobileViewJPG}}" 
                  media="(min-width: 401px)"
                  type="image/jpeg"> 
                <source 
                  srcset="static/img/small/{{project.mobileViewJPG}}" 
                  media="(max-width: 400px)"
                  type="image/jpeg"> 
                <img src="static/img/large/{{project.mobileViewJPG}}" alt="">
              </picture>
            </div>
          </div>
          <div class="phone__bottom"></div>
        </div>
      </div>
    </div>
  </section>
</div>

<nav class="pagination">
    <span class="selector"></span>
    <button 
      appRipple
      type="button"
      aria-label="Navigate to next project"
      class="btn btn--up"
      (click)="navigeteToProject(-1)"></button>
    <button
      appRipple
      type="button"
      aria-label="Navigate to next project"
      class="btn btn--down"
      (click)="navigeteToProject(1)"></button>
    <ul>
      <li 
        *ngFor="let project of projects; let i = index">
        <a routerLink="/projects/{{project.path}}" routerLinkActive="active" class="project-link">{{i + 1}}</a>        
      </li>
    </ul>
  </nav>

<!-- <app-instruction-modal></app-instruction-modal> -->
<div class="ripple-project--effect" *ngIf="showRipple" #rippleProject></div>