:host {
  height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  background-color: #0251B1;
}

.title {
  color: #ffffff;
  margin-top: 0;
  font-size: 3em;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
}

.social__link, .contact-form__toggler {
  display: block;
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  &:hover, &:focus {
    outline: none;
    background-color: rgba(221, 221, 221, 0.4);
  }
}

@media screen and (min-width: 600px) {
  .social-links {
    box-sizing: border-box;
    padding: 40px;
  }
}

@media screen and (max-height: 500px) {
  .title {
    margin: 0;
  }
  .social-links {
    padding: 10px;
  }
}
