<h2 class="title">Contact</h2>
<app-contact-form [@slideContactForm] *ngIf="togglerInfoState"></app-contact-form>
<div class="social-links">
  <a 
    class="social__link"
    href="https://github.com/GrzegorzStanczyk"
    appRipple>Visit: GitHub</a>
  <a 
    class="social__link"
    href="https://www.linkedin.com/in/grzegorzstanczyk/"
    appRipple>Visit: LinkedIn</a>
</div>
<button 
  appRipple
  #infoToggler
  class="contact-form__toggler"
  type="button"
  aria-label="Open contact form"
  aria-expanded="false"
  (click)="openForm()">Open contact form
</button>
