<div class="container">
  <div class="line-top"></div>
  <div class="line-right"></div>
  <div class="line-bottom"></div>
  <div class="line-left"></div>
  <div class="mask"></div>
  <div class="text"><h1>{{message}}</h1></div>
</div>
<div class="canvas-container">
  <canvas class="canvas" appParticles></canvas>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-flt">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
      <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
    </filter>
  </defs>
</svg>
