[project-tech="angular"] {
    background: url('/static/icons/angular.svg');
}
[project-tech="firebase"] {
    background: url('/static/icons/firebase.svg');
}
[project-tech="bootstrap"] {
    background: url('/static/icons/bootstrap.svg');
}
[project-tech="jquery"] {
    background: url('/static/icons/jquery.svg');
}
[project-tech="googlemaps"] {
    background: url('/static/icons/googlemaps.svg');
}
[project-tech="vue"] {
    background: url('/static/icons/vue.svg');
}
[project-tech="sass"] {
    background: url('/static/icons/sass.svg');
}
[project-tech="webpack"] {
    background: url('/static/icons/webpack.svg');
}
[project-tech="wordpress"] {
    background: url('/static/icons/wordpress.svg');
}
[project-tech="material"] {
    background: url('/static/icons/material.svg');
}
[project-tech="js"] {
    background: url('/static/icons/js.svg');
}

[project-github="github"] {
    background: url('/static/icons/github.svg');
}
[project-live="live"] {
    background: url('/static/icons/live.svg');
}
