[project-tech="angular"] {
    background: url('/static/icons/angular.svg');
}
[project-tech="firebase"] {
    background: url('/static/icons/firebase.svg');
}
[project-tech="bootstrap"] {
    background: url('/static/icons/bootstrap.svg');
}
[project-tech="jquery"] {
    background: url('/static/icons/jquery.svg');
}
[project-tech="googlemaps"] {
    background: url('/static/icons/googlemaps.svg');
}
[project-tech="vue"] {
    background: url('/static/icons/vue.svg');
}
[project-tech="sass"] {
    background: url('/static/icons/sass.svg');
}
[project-tech="webpack"] {
    background: url('/static/icons/webpack.svg');
}
[project-tech="wordpress"] {
    background: url('/static/icons/wordpress.svg');
}
[project-tech="material"] {
    background: url('/static/icons/material.svg');
}
[project-tech="javascript"] {
    background: url('/static/icons/js.svg');
}

[project-github="github"] {
    background: url('/static/icons/github.svg');
}
[project-live="live"] {
    background: url('/static/icons/live.svg');
}

[project-tech],
a[aria-label] {
    position: relative;
}

a[aria-label]:hover::after {
    content: attr(aria-label);
}

[project-tech]:hover::after {
    content: attr(project-tech);
}

[project-tech]:hover::after,
a[aria-label]:hover::after {
    position: absolute;
    white-space: nowrap;
    top: -45px;
    left: 0;
    background: #444;
    color: #fff;
    padding: 10px;
}
[project-tech]:hover::before,
a[aria-label]:hover::before {
    content: "";
    position: absolute;
    border-top: 10px solid #444;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    top: -6px;
}

