<div class="instruction__container">
  <button 
    appRipple
    type="button"
    aria-label="Close instruction"
    aria-expanded="true"
    class="btn"
    (click)="closeModal()">Close
  </button>
  <div class="instruction">
    <span class="icon icon--arrows" project-nav="arrows"></span>
  </div>
  <div class="instruction instruction__gesture">
    <span class="icon icon--gesture" project-nav="gesture"></span>
  </div>
  <div class="instruction">
    <span class="icon icon--wheel" project-nav="wheel"></span>
  </div>
</div>