@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('./app/shared/styles/ripple.scss');
@import url('./app/shared/styles/mat-btn.scss');

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
}

.visuallyhidden {
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}

.project__description a {
  color: inherit;
}